:root {
  /* Color Scheme */
  --green: #38761d;
  --orange: #ce7e00;
  --blue: #3d85c6;
  --purple: #6a329f;
  --red: #cc0000;
  --black: #000000;
  --white: #ffffff;

  /* Typography */
  --font: "Arial", sans-serif;
}

body {
  font-family: var(--font);
  color: var(--black);
  background-color: var(--white);
  margin: 0;
  padding-top: 70px; /* Adjust based on the navbar height */
}

a,
a:visited {
  color: var(--blue);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--green);
}

.navbar-fixed-top .navbar-brand img {
  margin-right: 10px;
  max-height: 50px;
}

/* Navbar Styles */
.navbar {
  background-color: var(--white);
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 2px solid var(--blue);
}

.navbar-fixed-top .navbar-nav > li > a {
  color: var(--black);
}

.navbar-fixed-top .navbar-nav > li > a:hover {
  color: var(--orange);
}

/* Buttons */
.btn-primary,
.btn-default {
  border-radius: 4px;
  padding: 10px 20px;
  margin: 5px;
}

.btn-primary {
  background-color: var(--green);
  border-color: var(--green);
}

.btn-primary:hover {
  background-color: var(--purple);
}

.btn-default {
  background-color: var(--orange);
  color: var(--white);
  border-color: var(--orange);
}

.btn-default:hover {
  background-color: var(--red);
  border-color: var(--red);
}

/* Form and Input Styles */
input[type="text"],
input[type="email"],
input[type="password"],
.form-control {
  border: 1px solid var(--blue);
  margin-bottom: 15px;
}

/* CTA Buttons */
.cta-buttons a.btn {
  margin: 20px 10px;
  padding: 10px 30px;
  font-size: 18px;
}

/* About Me Section */
#about-me {
  background-color: var(--white);
  padding: 40px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Profile Page Specific Styles */
.profile-page .profile-info,
.profile-page .friends-list,
.profile-page .feed {
  background-color: var(--white);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info img {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-info h3,
.feed h4,
.last-movie-watched h4,
.favorite-pizza-place h4 {
  color: var(--green);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .navbar-header,
  .navbar-collapse,
  .navbar-nav > li > a,
  body {
    /* Adjustments for smaller screens */
  }
}
